h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: navy;
}
h2{
    border: 20px;
    font-style: italic;
    background-color: rgb(99, 187, 12);
    color: gray;
}
h3{
    background-color: aqua;
    text-indent: 200px;
    text-underline-position:below;
}